<h2 class="text-align-center">Registration</h2>
<div class="app-plate">
  <div class="registration-form">
    <div>
      <div class="form__control">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" ngModel placeholder="Input text"/>
        <span id="nameErrorMessage" class="text-danger">Name is required.</span>
      </div>
      <div class="form__control">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" ngModel placeholder="Input text"/>
        <span id="emailErrorMessage" class="text-danger">Email is required.</span>
      </div>
      <div class="form__control">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" ngModel placeholder="Input text"/>
        <span id="passwordErrorMessage" class="text-danger">Password is required.</span>
      </div>
    </div>
    <div class="form__action">
      <app-button [buttonText]="'Register'"></app-button>
    </div>
  </div>
</div>
